<!DOCTYPE html>
<html <%= content_for :angular %>>
  <head>
    <title>AngularRailsCrud</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <ul>
      <% if user_signed_in? %>
        <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %>
      <% end %>
    </ul>
    <%= yield %>
  </body>
</html>
